.navbar {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(3.950000047683716px);
}

.logout-btn {
  border-radius: 30px;
  background: #fff;
  box-shadow: 0px 3px 4px 1px rgba(35, 136, 255, 0.25);
  border: none;
  outline: none;
  font-size: 20px;
  color: #001857;
  font-family: "Be Vietnam Pro";
  font-weight: 500;
}

.nav-link {
  font-size: 20px;
  color: #001857;
  font-family: "Be Vietnam Pro";
  cursor: pointer;
  font-weight: 500;
}
